Source: dns-stats-presenter
Section: net
Priority: optional
Maintainer: Ondřej Surý <ondrej@debian.org>
Build-Depends: apache2-dev (>= 2.4),
               autotools-dev,
               debhelper (>= 9),
               libboost-all-dev,
               libcairo2-dev,
               libpqxx-dev,
               libtool,
               libxt-dev,
               r-base-dev,
               dh-autoreconf,
               python,
               python-yaml,
               python-dnspython,
               python-psycopg2,
               help2man
Standards-Version: 3.9.5
Homepage: http://dns-stats.org/
Vcs-Git: https://github.com/dns-stats/dns-stats-presenter.git
Vcs-Browser: https://github.com/dns-stats/dns-stats-presenter

Package: dns-stats-presenter-database
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         postgresql-9.3-ip4r,
         postgresql-plpython-9.3,
         python-ipy,
         libgetdns1,
         python-getdns
Suggests: dns-stats-presenter-doc,
          unbound,
          pgtune
Description: visualisation tool for DNS [Database setup file]
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package contains a script to assist with the Postgresql database setup

Package: dns-stats-presenter-common
Architecture: all
Depends: libyaml-tiny-perl,
         ${misc:Depends},
         postgresql-client-common,
         postgresql-client
Description: visualisation tool for DNS [common files]
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package contains common configuration files and support scripts.

Package: dns-stats-presenter-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: visualisation tool for DNS [documentation]
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package contains documentation for dns-stats-presenter.

Package: dns-stats-presenter-gui
Architecture: all
Section: web
Depends: ${misc:Depends},
         dns-stats-presenter-common (>= ${source:Version}~),
         apache2 (>= 2.4),
         libapache2-mod-r-base,
         libjs-jquery,
         libjs-jquery-ui,
         r-base,
         r-base-core,
         r-cran-cairodevice,
         r-cran-dbi,
         r-cran-digest,
         r-cran-ggplot2,
         r-cran-reshape,
         r-cran-rjson,
         r-dns-stats-presenter-rpostgresqlhelper,
         unifont,
         libcairo2-dev,
         libxt-dev,
         libpq-dev
Suggests: dns-stats-presenter-doc
Description: visualisation tool for DNS [web]
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package contains web pages and Apache configuration.

Package: dns-stats-presenter-webdav-upload
Architecture: all
Section: web
Depends: ${misc:Depends},
         dns-stats-presenter-common (>= ${source:Version}~),
         apache2 (>= 2.4),
         adduser,
         dns-stats-presenter-data-manager
Suggests: dns-stats-presenter-doc
Description: visualisation tool for DNS [web]
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package contains Apache configuration to allow secure upload via webdav.


Package: dns-stats-presenter-data-manager
Architecture: any
Multi-Arch: foreign
Depends: dns-stats-presenter-common (>= ${source:Version}~),
         ${misc:Depends},
         ${shlibs:Depends},
         ${python:Depends},
         python-yaml,
         python-dnspython,
         python-psycopg2,
         unzip,
         adduser,
         curl
Suggests: dns-stats-presenter-doc
Description: visualisation tool for DNS [DSC Extractor]
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package contains DSC Statistics Extractor.

Package: r-dns-stats-presenter-rpostgresqlhelper
Architecture: all
Section: gnu-r
Depends: ${R:Depends},
         ${misc:Depends}
Description: GNU R package for dns-stats-presenter R PostgreSQL Helper
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package contains GNU R PostgreSQL Helper used by dns-stats-presenter.

Package: dns-stats-presenter
Architecture: all
Depends: ${misc:Depends},
         r-dns-stats-presenter-rpostgresqlhelper,
         dns-stats-presenter-data-manager,
         dns-stats-presenter-gui,
         dns-stats-presenter-doc,
         dns-stats-presenter-common,
         dns-stats-presenter-database
Description: visualisation tool for DNS [common files]
 dns-stats-presenter is a visualisation tool for DNS statistics that consumes data
 acquired with the DSC collector.
 .
 This package installs all components.
