#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# Enable hardening
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# main loop
%:
	dh $@  --with autotools-dev,autoreconf

# the R install logic simplified from r-cran.mk
rversion	:= $(shell dpkg-query -W -f='$${Version}' r-base-dev)
builttime       := $(shell dpkg-parsechangelog -l$(CURDIR)/debian/changelog | sed -ne 's/^Date: \(.*\)/\1/p')

override_dh_auto_configure:
	dh_auto_configure -- --localstatedir='/var/lib' --libexecdir='$${prefix}/lib'

override_dh_auto_install:
	dh_auto_install
	echo "R:Depends=r-base-core (>= ${rversion})" >> debian/r-hedgehog-rpostgresqlhelper.substvars
	install -d -m 755 $(CURDIR)/debian/tmp/usr/lib/R/site-library
	R CMD INSTALL -l $(CURDIR)/debian/tmp/usr/lib/R/site-library \
		--clean $(CURDIR)/debian/tmp/usr/share/hedgehog/R_packages/RPostgreSQLHelper \
		--built-timestamp="$(builttime)"
	rm -rf $(CURDIR)/debian/tmp/usr/share/hedgehog/R_packages

override_dh_install:
	dh_install --fail-missing -X.la
