/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.strong {
    font-weight: bold;
}

.info {
    padding: 2px 8px;
    color: #3a87ad;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
}

.warning {
    padding: 2px 8px;
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 2px 8px;
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.hidden {
    display: none !important;
}

input, textarea {
  /* stop iOS mobile safari from overriding my border radius settings */
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

ul.discs {
    list-style-type: disc;
}

ul.circles {
    list-style-type: circle;
}

/* #Page Styles
================================================== */

#helpimg {
    position: relative;
    top: 2px;
    left: 8px;
}

#generate:not([disabled]){
    background: #5894b0; /* Old browsers */
    background: #5894b0 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #5894b0 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #5894b0 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #5894b0 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #5894b0 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #5894b0 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    color: white;
    text-shadow: none;
}

#generate:not([disabled]):hover {
    background: #4e8aa6; /* Old browsers */
    background: #4e8aa6 -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
    background: #4e8aa6 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
    background: #4e8aa6 -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: #4e8aa6 -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
    background: #4e8aa6 -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
    background: #4e8aa6 linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
}

#generate:not([disabled]):active {
    background: #42748b -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
    background: #42748b -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
    background: #42748b -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
    background: #42748b -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
    background: #42748b -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
    background: #42748b linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */
}

input[type="button"][disabled] {
    color: GrayText;
    cursor: inherit;
}

input[type="button"][disabled]:hover {
    color: GrayText;
    cursor: inherit;
    background: #eee; /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#timeTabsAdv {
    padding-left: 14px;
    margin-bottom: 8px;
}

#timeTabsAdv label,
#srvr_select label,
#plotselection label,
#start,
#stop,
#servers,
#plotType {
    display: inline-block;
    margin-bottom: 0;
    font-size: 80%;
}

#start,
#stop,
#plotType {
    width: 176px;
    padding: 0;
}

#setToday {
    margin: 0 0 6px 32px;
    padding: 2px 8px;
}

#plotType {
    margin: 5px 0 0 0;
}

#generate {
    margin: 4px 0 0 0;
    padding: 2px 4px;
    font-size: 80%;
    width: 200px;
}


#timeTabsAdv label {
    width: 26px;
}

#timeTabsAdv label,
#srvr_select label,
#plotselection label {
    text-align: right;
}

.Tabs ul {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    list-style-type: none;
}

.Tabs ul li {
    display: inline-block;
    float: left;
    height: 24px;
    cursor: pointer;
    margin-bottom: 21px;
}

.Tabs ul li a {
    position: relative;
    margin-top: 16px;
    display: block;
    margin-left: 6px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    z-index: 9999;
    border: 1px solid #ccc;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    color: #444;
    text-decoration: none;
    font-weight: bold;
}

.Tabs ul li.activeGpTab a {
    background: #eee;
    color: #000;
    position: relative;
    top: 1px;
    border-bottom: 0px;
}

.Tabs ul li a:hover {
    color: #222;
    background: #ccc;
}

.Tabs #groupcontent,
.Tabs #nodecontent {
    padding: 0 15px;
    clear:both;
    line-height:19px;
    position: relative;
    top: 20px;
    z-index: 5;
    height: 150px;
    overflow: hidden;
}

.Tabs ul li a img {
    position: relative;
    top: 1px;
    left: 4px;
}

.group_showing {
    display: block;
    height: 210px;
    /*overflow-y: scroll;*/
    padding: 5px 0 0 20px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;   
}

.node_cbs {
    overflow-y: scroll;
    display: block;
    height: 169px;
}

#outerplot {
    min-height: 528px;
    height: auto !important;
    height: 528px;
}

#plot {
    text-align: center;
}

#plot hr {
    margin-bottom: 10px;
}

#lextend {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

#rextend {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

#nodecontent {
    margin-bottom: 20px;
}

#nodecontent label {
    color: #ccc;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 4px;
    font-family: "New Courier", Monospace;
    cursor: pointer;
    background: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#nodecontent label:hover {
    background: #ddd;
}

.mycolumn {
    float: left;
    display: inline;
}

#lextend,
#rextend,
#larrow,
#rarrow {
    width: 27px;
    height: 48px;
    margin-bottom: 4px !important;
}

#timeTabsBasic label.button,
#lextend,
#rextend,
#larrow,
#rarrow {
    /* remove color gradient from these buttons */
    background: #eee;
}

#timeTabsBasic label.button,
#larrow,
#rarrow {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#timeTabsBasic label.button,
#timeTabsBasic input[type="button"] {
    margin: 0;
    padding: 4px;
    font-size: 80%;
}

#timeTabsBasic label.button {
    text-align: center;
    width: 47px;
}

#timeTabsBasic input[type="radio"],
#nodecontent input[type="checkbox"] {
    display: none;
}

#timeTabsBasic input[type="radio"]:checked + label.button {
    border: 1px solid #666;
    background: #ccc; /* Old browsers */
}

#nodecontent input[type="checkbox"]:checked + label {
    color: #000;
}

#nodecontent input[type="button"] {
    margin: 0 0 2px 16px;
    padding: 2px 8px;
}

#nodecontent hr {  
margin: 5px 0px 10px; 
}

.allnone {
    margin: 2px 2px 5px 0;
}

.basicadv,
.allnone {
    font-size: 80% !important;
    text-align: left;
}

.basicadv a,
.allnone a {
    text-decoration: none;
    cursor: pointer;
}

#timedisplay {
    text-align: right;
    margin-top: 26px;
}

#userdisplay {
    margin-top: 1px;
    min-height: 13px;
    height: auto !important;
}

#timedisplay p,
#userdisplay p {
    font-size: 80%;
}

#opts {
    text-align: right;
}

#opts input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

#opts input[type="radio"],
#radioplt input[type="radio"] {
    -webkit-appearance: radio;
}

#opts input[type="checkbox"] + label,
#opts input[type="radio"] + label,
#radioplt input[type="radio"] + label {
    display: inline;
}

#copyright {
    text-align: center;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/